input,textarea{border:none;border-radius:0;outline:0;color:var(--text-color);font-family:sans-serif,Arial,Helvetica!important;font-size:14px}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield;padding:0;}input[type=number].fs-12{font-size:12px}input[type=number].fs-11{font-size:11px}input[readonly],input[type=date],input[type=text]{font-weight:700!important}input[readonly]{cursor:default;transition:background-color .4s ease-out}.bgc-gray,input[readonly].bg-gray{background-color:var(--gray-c)!important}input[type=number].fundo-vermelho{background-color:var(--danger-color)!important;color:var(--yt)}

input {
    border-bottom: 1px solid var(--border-color);
}

input:focus {
    border-bottom: 2px solid var(--anchor-color) !important;
}

input[readonly]:focus {
    border-bottom: 1px solid var(--border-color) !important;
}

/* Container */
:root {
    --max-width: 850px;
}

div.container {
    width: var(--max-width);
    margin: 30px auto 15px auto;
    font-size: 13px;
}

/* CSSS REUTILIZÁVEL */
header div.grid-7 span,
div.grid-1 span,
div.body div.grid-8 span {
    border-left: 2px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

div.ficha header div.col1,
div.grid-1 span,
div.body div.grid-8 input:last-child {
    border-right: 2px solid var(--border-color);
}

div.emblema-e-republica,
div.geo div.flex-container, 
header div.grid-7 span,
div.body div.grid-8 span,
div.body div.col2 span, div.grid-1 span {
    display: flex;
    align-items: center;
}

/* CABECALHO */
header h1 {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

div.emblema-e-republica {
    flex-direction: column;
}

div.republica {
    margin-top: -10px;
}

div.republica span {
    display: block;
    line-height: 1.3;
    text-align: center;
}

div.geo {
    display: grid;
    grid-template-columns: 350px 375px;
    justify-content: center;
    grid-gap: 25px 15px;
}

div.geo div.flex-container {
    min-height: 20px;
}

div.geo input {
    width: 325px;
    overflow: hidden;
    margin-left: 4px;
    font-weight: bold;
}

/* FICHA */
div.ficha span {
    line-height: 1.3;
}

div.ficha input[type=number] {
    text-align: center;
}

div.ficha header,
div.ficha div.body {
    display: grid;
    grid-template-columns: 720px 110px;;
    grid-column-gap: 20px;
    justify-content: center;
}

div.ficha header {
    margin-top: 20px;
}

div.ficha header div.col1 {
    background-color: var(--gray-d);
    display: grid;
    grid-template-rows: 24px 48px;
}

div.ficha header div.col2 {
    display: grid;
    align-items: center;
    border: 1px solid var(--border-color);
    background-color: var(--gray-d);
}

header div.col2 span {
    text-align: center;
    font-weight: bold;
}

header div.grid-7 {
    display: grid;
    grid-template-columns: calc(40px + 230px) repeat(6, 75px);
}

header div.grid-7 span {
    font-weight: bold;
    border-top: 2px solid var(--border-color);
    justify-content: center;
}

@media screen and (max-width: 850px) {
    header div.grid-7 span:first-child {
        position:-webkit-sticky;
        position: sticky;
        left: -55px;
        background-color: var(--gray-d);
    }
}

div.grid-1 span {
    font-weight: bold;
    min-height: 100%;
    padding-left: 6px;
}

/* CORPO DA FICHA */

div.body div.grid-8,
div.body div.grid-1 {
    max-width: 720px;
}

div.body div.grid-8 {
    display: grid;
    grid-template-columns: 40px 230px repeat(6, 75px);
    grid-template-rows: 55px;
}

div.body div.grid-8 span.nao-aplicavel {
    border-color: var(--fullblack);
    background-color: var(--fullblack);
}

div.body div.grid-8 span:first-child {
    font-weight: bold;
    justify-content: center;
}

div.body div.grid-8 span:nth-child(2) {
    padding-left: 6px;
    border-left-width: 1px;
}

@media screen and (max-width: 850px) {
    div.body div.grid-8 span:first-child,
    div.body div.grid-8 span:nth-child(2) {
        position:-webkit-sticky;
        position: sticky;
        left: -15px;
        background-color: var(--yt);
    }

    div.body div.grid-8 span:first-child {
        background-color: var(--gray-d);
    }

    div.body div.grid-8.total.de-transicoes span:first-child {
        background-color: var(--yt);
    }
}

div.body div.grid-8 input {
    border-left: 2px solid var(--border-color);
}

div.body div.grid-1 {
    display: grid;
    grid-template-rows: 30px;
}

div.body div.grid-8.total,
div.body div.grid-8.total input {
    background-color: var(--gray-d);
}

div.body div.grid-8.total.de-transicoes,
div.body div.grid-8.total.de-transicoes input {
    background-color: initial;
}

div.body div.grid-8.total span {
    grid-column: 1/3;
    justify-content: flex-end;
    padding-right: 6px;
    text-align: right;
}

div.body div.grid-8.total.de-transicoes span,
div.body div.grid-8.total.de-transicoes input {
    background-color: initial;
    border-bottom-width: 2px;
}

div.body div.col2 {
    display: grid;
    grid-template-rows: 55px 30px repeat(5, 55px) 30px repeat(7, 55px);
}

div.body div.col2 span {
    font-weight: bold;
    justify-content: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}


div.body div.col2 span.fundo-cinza {
    background-color: var(--gray-d);
}

/* Rodape da ficha */

footer.linha-de-assinatura {
    margin: 25px auto 15px auto;
    padding: 0 8px;
    display: grid;
    grid-template-columns: 262px 572px;
    min-height: 20px;
}

footer.linha-de-assinatura input {
    min-width: 205px;
}

footer.linha-de-assinatura input#assinatura {
    width: 340px;
}

div.nota{width:var(--max-width);margin-bottom:20px;min-height:79px;display:flex;justify-content:center;}@-moz-document url-prefix(){div.nota{min-height:96px}}@media screen and (max-width:835px){div.linha.nota{padding-left:0;padding-right:0}}div.nota textarea{font-family:san-serif,Arial,Helvetica;width:868px;padding:5px;line-height:1.5;border:1px solid var(--border-color)}@media print{div.col1.emblema-e-republica,div.container{visibility:visible;}div.nota.no-print{display:none}div.nota textarea{padding:0}}div.nota textarea.bold{font-weight:700;border-color:transparent}div.nota textarea:focus{border:2px solid var(--blue)}